############################################################
############ Workflow: Image Build and Publish #############
############################################################

########## AUTHOR: Jan Rother
########## DATE:   2026-01

name: Build and Publish Container Image

on:
  push:
    branches:
      - main
      - 'release/**'
  schedule:
    - cron: '0 1 * * 1' # 01:00 AM, every Monday

jobs:
  push_to_registry:
    name: Push Docker Image to Docker Hub
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      - name: Check out the Repository
        uses: actions/checkout@v6

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract Metadata (images, tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: janrother/latex-environment
          tags: |
                type=raw,value=latest,enable={{is_default_branch}}
          labels: |
                  org.opencontainers.image.author="Jan Rother"
                  org.opencontainers.image.title="LaTeX Environment"
                  org.opencontainers.image.description="Image for a LaTeX environment with Unix surrounded by a common toolchain."

      - name: Build and push Docker Image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: ./.devcontainer
          file: ./.devcontainer/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
