############################################################
########### Workflow: Document Build and Release ###########
############################################################

########## AUTHOR: Jan Rother
########## DATE:   2026-01

name: Build and Release Document from LaTeX as PDF and MD

on:
  push:
    branches:
      - main
      - 'release/**'
  pull_request:
    branches:
      - main
      - 'release/**'

jobs:
  prepare_metadata:
    runs-on: ubuntu-latest
    outputs:
      datetime: ${{ steps.datetime.outputs.DATETIME }}
      root_name: ${{ env.ROOT_NAME }}
      base_name: ${{ env.BASE_NAME }}
      file_name_pdf: ${{ steps.set_file_name.outputs.FILE_NAME_PDF }}
      tag_name: ${{ steps.set_tag_name.outputs.TAG_NAME }}
      release_name: ${{ steps.set_release_name.outputs.RELEASE_NAME }}
    env:
      ROOT_NAME: main
      BASE_NAME: template
    steps:
      - name: Get Date and Time
        id: datetime
        run: echo "DATETIME=$(date +'%Y-%m-%d_%H-%M')" >> $GITHUB_OUTPUT
      
      - name: Set File Name
        id: set_file_name
        run: |
          echo "FILE_NAME_PDF=${{ env.BASE_NAME }}_${{ steps.datetime.outputs.DATETIME }}.pdf" >> $GITHUB_OUTPUT
      
      - name: Set Tag Name
        id: set_tag_name
        run: echo "TAG_NAME=${{ env.BASE_NAME }}_${{ steps.datetime.outputs.DATETIME }}" >> $GITHUB_OUTPUT
      
      - name: Set Release Name
        id: set_release_name
        run: |
          BASE="${{ env.BASE_NAME }}"
          BASE_CAP="${BASE^}"
          echo "RELEASE_NAME=${BASE_CAP} (${{ steps.datetime.outputs.DATETIME }})" >> $GITHUB_OUTPUT
      
      - name: Output Metadata
        run: |
          echo "Metadata Overview: "
          echo " "
          echo "    DateTime ......... ${{ steps.datetime.outputs.DATETIME }}"
          echo "    Root Name ........ ${{ env.ROOT_NAME }}"
          echo "    Base Name ........ ${{ env.BASE_NAME }}"
          echo "    File Name ........ ${{ steps.set_file_name.outputs.FILE_NAME_PDF }}"
          echo "    Tag Name ......... ${{ steps.set_tag_name.outputs.TAG_NAME }}"
          echo "    Release Name ..... ${{ steps.set_release_name.outputs.RELEASE_NAME }}"



  build_pdf:
    runs-on: ubuntu-latest
    needs:
      - prepare_metadata
    env:
      ROOT_NAME: ${{ needs.prepare_metadata.outputs.root_name }}
      BASE_NAME: ${{ needs.prepare_metadata.outputs.base_name }}
      FILE_NAME_PDF: ${{ needs.prepare_metadata.outputs.file_name_pdf }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Compile LaTeX Document
        id: compile_document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: ${{ env.ROOT_NAME }}.tex
          docker_image: janrother/latex-environment:latest
          pre_compile: "tlmgr update --self || true && tlmgr update --all || true && git lfs fetch --all && git lfs pull"
      
      - name: Update Output Ownership
        run: sudo chown -R $USER:$USER out/

      - name: Copy and Rename PDF Document
        run: |
          mkdir -p out
          cp out/${{ env.ROOT_NAME }}.pdf out/${{ env.FILE_NAME_PDF }}

      - name: Upload PDF Document
        id: upload_document
        uses: actions/upload-artifact@v6
        with:
          name: ${{ env.BASE_NAME }}
          path: out/${{ env.FILE_NAME_PDF }}
          overwrite: 'true'



  release_document:
    runs-on: ubuntu-latest
    needs:
      - prepare_metadata
      - build_pdf
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    env:
      FILE_NAME_PDF: ${{ needs.prepare_metadata.outputs.file_name_pdf }}
      TAG_NAME: ${{ needs.prepare_metadata.outputs.tag_name }}
      RELEASE_NAME: ${{ needs.prepare_metadata.outputs.release_name }}
    steps:
      - name: Download PDF Artifact
        uses: actions/download-artifact@v5
        with:
          name: ${{ needs.prepare_metadata.outputs.base_name }}
          path: out

      - name: Release PDF Document
        if: github.event_name == 'push'
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        with:
          tag_name: ${{ env.TAG_NAME }}
          release_name: ${{ env.RELEASE_NAME }}
          draft: false
          prerelease: false

      - name: Upload PDF Document to Release
        if: github.event_name == 'push'
        id: upload_release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: out/${{ env.FILE_NAME_PDF }}
          asset_name: ${{ env.FILE_NAME_PDF }}
          asset_content_type: application/pdf